.headerGlass{
    background-color: #000000a1;
    height: 80px;
    position: absolute;
    width: 100%;
}
.imgModel {
    width: 30%;
    margin-top: 100px;
}
.faceText {
    position: relative;
    bottom: 89px;
    background-color: #f8802a7d;
    width: 111%;
    height: 111px;
    margin-top: -18px;
}
.faceCard {
    width: 14rem;
    position: relative;
    right:-26rem;
    top:55px;
    height: 0
}
.faceTextH5 {
    text-align: left;
    font-size: 17px;
    color: #9274bf
}
.faceTextP {
    text-align: left;
    font-size: 14px;
    color:white
}
.imgModel {
    margin-right: 300px;
    height: 310px;
    width: 250px
}
.glasses {
    width: 1000px;
    height: 200px;
    background-color: white;
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    padding-top: 35px;
    gap: 20px;
}
.glassesChild {
    overflow: hidden;
    height: 42px;
    border: solid 1px #918989;
}
.glasses img {
    width: 75%;
}
.changeGlass {
    position: relative;
    top: 124.5px;
    left: 14px;
    height: 45px;
}
.wheels {
    left: 54.5rem;
    top: -5.7rem;
    position: relative;
}